.countdown-container {
  background-image: repeating-linear-gradient(12deg, rgba(250, 204, 0, 0.25), rgba(255, 0, 0, 0.25) 2px, transparent 0px, transparent 6px);
  background-size: cover;
  height: 100vmax;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.timers-div {
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pattern{
  background-image: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 2px, transparent 3px, transparent 7px);
}

.card {
  display: flex;
  flex-direction: column;
}